html{
    background-color: rgb(12, 12, 12);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar {
    width:98%;
    display: inline-flex;
    gap: 50%;
    margin-block-start: 2%;
    color: rgb(185, 12, 238);
}

.navbar > div {
    padding-inline-start: 8%;
}

.navbar a {
    color: rgb(185, 12, 238);
    text-decoration: none;
    line-height: 3rem;
}

.navbar2 a {
    padding-inline: 10px;
}

.main_page {
    margin-block-start: 220px;
    margin-inline-start: 10%;
}

.main_page {
    animation-duration: 5s ;
    animation-name: slidein;
    animation-timing-function: calc();
}

@keyframes slidein {
   from {
    margin-left: 100%;
    width: 100%;

   }

   to {
    margin-left: 10%;
    width:100%;
   }
}

.main_page h1 {
    font-size: 80px;
}

.main_page span{
    color: rgb(185, 12, 238);
}

p {
    font-size: 30px;
    margin-block-start: -50px;
    color: grey;

}

.navbar a:hover {
    color: #ffffff;
}

.main_page div {
    margin-block-start: -30px;
    margin-inline-start: 5px;
}
.main_page a:nth-child(1) img {
    height: 40px;
    width: 30px;
    padding-inline-end: 15px;
    margin-block-end: 5px;
}
.main_page a:nth-child(2) img {
    height: 50px;
    width: 50px;
}


.main_page a:nth-child(3) img {
    height: 25px;
    width: 25px;
    padding-block-end: 12px;
    margin-inline-start: 15px;
}