html{
    background-color: rgb(12, 12, 12);
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.navbar {
    width:98%;
    display: inline-flex;
    gap: 50%;
    margin-block-start: 2%;
    color: rgb(185, 12, 238);
}

.navbar > div {
    padding-inline-start: 8%;
}

.navbar a {
    color: rgb(185, 12, 238);
    text-decoration: none;
    line-height: 3rem;
}

.navbar2 a {
    padding-inline: 10px;
}

.main_page {
    margin-block-start: 220px;
    margin-inline-start: 10%;
}

.main_page {
    animation-duration: 5s ;
    animation-name: slidein;
    animation-timing-function: calc();
}

@keyframes slidein {
   from {
    margin-left: 100%;
    width: 100%;

   }

   to {
    margin-left: 10%;
    width:100%;
   }
}

.main_page h1 {
    font-size: 80px;
}

.main_page span{
    color: rgb(185, 12, 238);
    letter-spacing: -7px;
    margin-inline-end: 5px;
}

p {
    font-size: 30px;
    margin-block-start: -50px;
    color: grey;

}

.navbar a:hover {
    color: #ffffff;
}

.main_page div {
    margin-block-start: -30px;
    margin-inline-start: 5px;
}
.main_page a:nth-child(1) img {
    height: 40px;
    width: 30px;
    padding-inline-end: 15px;
    margin-block-end: 5px;
}
.main_page a:nth-child(2) img {
    height: 50px;
    width: 50px;
}


.main_page a:nth-child(3) img {
    height: 25px;
    width: 25px;
    padding-block-end: 12px;
    margin-inline-start: 15px;
}

.main_page a > img:hover {
    opacity: 0.8; 
    transform: scale(1.55);
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    transition: 0.4s;
}


/* mobile view */
@media (max-width: 768px) {
    .navbar2 {
        display: none; /* Hide nav links initially on mobile */
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: rgb(12, 12, 12);
    }

    .navbar2 a {
        text-align: center;
        padding: 0px 0;
    }
    
    .hamburger {
        display: flex;
    }

    .navbar2.show {
        display: flex;
    }

    .main_page {
        margin-block-start: 150px;
        margin-inline-start: 0px;
        animation: unset;
    }
    .main_page h1 {
        font-size: 35px;
    }

    .main_page span {
        margin-inline-start: 2px;
    }

    p {
        font-size: 15px;
        margin-block-start: -20px;
    }

    .main_page div {
        margin-block-start: -15px;
        margin-inline-start: 0px;
    }
    .main_page a:nth-child(1) img {
        height: 30px;
        width: 20px;
        padding-inline-end: 0px;
        margin-block-end: 3px;
    }
    .main_page a:nth-child(2) img {
        height: 35px;
        width: 50px;
    }
    
    
    .main_page a:nth-child(3) img {
        height: 15px;
        width: 15px;
        padding-block-end: 10px;
        margin-inline-start: 0px;
    }
    
    .main_page a > img:hover {
        opacity: 0.8; 
        transform: scale(1.55);
    }
}